#container {
  padding: 2em;

  #list {
    padding: 1em;
    display: block;
    background: #fff;
    margin-bottom: 10px;
  }

  button {
    border: none;
    margin-bottom: 20px;
    padding: 10px;
    background: blueviolet;
    color: #fff;
  }

  .col {
    width: 33%;
    display: inline-block;
    padding: 40px 0;
    color: gray;
  }
}