<div id="container" [@listAnimation]="items.length">
  <button (click)="pushItem()">Add Item</button>
  <button (click)="removeItem()">Remove Item</button>
  
  <div id="list" *ngFor="let item of items">
    {{ item }}
  </div>

</div>